<!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. CongoMines website and guide are best accessed using a modern browser.  Please consider <a href="http://browsehappy.com/">upgrading your browser</a> to improve your experience.</p>
<![endif]-->

<header>
  <div class="row">

    <div class="small-12 medium-2 columns">
      <a href="http://congomines.org">
        <img src="{{site.baseurl}}/img/logo.png" alt="CongoMines" class="logo">
      </a>
    </div>

    <div class="small-12 medium-8 columns end text-center">
      <h1>{{page.title}}</h1>
    </div>

  </div>
</header>
